#about {
    margin: 0 auto;
	max-width: 700px;
}

.about_panel {
    margin: -20px 10px;
    padding: 0px 10px;
    border: 1px solid #0e0d0d;
    border-radius: 6px;
    background: #191717;
}

.about_panel p {
	text-align: justify;
}

.about_panel h1, #about_panel h2 {
	font-weight: bold;
}