.pbreadcrumb {
	position: fixed;
    z-index: 80;
    top: 46px;
    background-color: #1d1b1b;
    width: 100%;
    height: 45px;
    padding: 5px;
    padding-left:10px;
}

.pbreadcrumb .bc_element {
	float: left;
    background-color: rgba(66, 66, 66, 0.35);
    padding: 6px;
    margin-right: 3px;
    border-radius: 2px;
    color: #b5b5b5;
    border: 1px solid #2A2929;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.68, 0.97);
    cursor: pointer;
}

.pbreadcrumb .bc_element:hover {
    border: 1px solid rgba(75, 103, 121, 0.77);
}

.items {
	padding: 7px;
}

.not_found_center {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}