.pbreadcrumb {
    position: fixed;
    z-index: 80;
    top: 46px;
    background-color: #1d1b1b;
    width: 100%;
    height: 45px;
    padding: 5px;
    padding-left:10px;
}

.pbreadcrumb .bc_element {
    float: left;
    background-color: rgba(66, 66, 66, 0.35);
    padding: 6px;
    margin-right: 3px;
    border-radius: 2px;
    color: #b5b5b5;
    border: 1px solid #2A2929;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.68, 0.97);
    cursor: pointer;
}

.pbreadcrumb .bc_element:first-child {
    width: 50px;
    text-align: center;
}

.pbreadcrumb .bc_element:hover {
    border: 1px solid rgba(75, 103, 121, 0.77);
}

.items {
    padding: 7px;
}

.btn {
    background-color: #337ab7;
}

.moreImagesBtn {
    margin: 15px auto;
}

.moreImagesContainer {
    clear:both;
    text-align: center;
}

.not_found_center {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

img.loading {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    z-index: 100;
    position: fixed;
    top: 10px;
    right: 10px;
    transition: all 0.3s;
}

.btn {
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #1d4d75;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #2e5f8a;
    border-color: #1d4d75;
}
