#menu {
    z-index: 100;
    position: fixed;
}

.headmenu {
    position: fixed;
    top: 0px;
    padding: 8px;
    background-color: #191717;
    width: 100%;
    cursor: pointer;
}

.menuoverlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.menubar {
    color: #FFFFFF;
    transition: all 0.5s;
    background-color: #111010;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 200px;
    z-index: 110;
}

.menubar_head {
    background-color: #337ab7;
    padding: 10px;
    font-weight: bold;
}

.menuelement {
    padding: 10px;
    padding-left: 30px;
    border-bottom: solid 1px #171717;
    transition: all 0.5s ease;
}

.menuelement a {
    color: #FFFFFF;
}

.menuelement:hover {
    background-color: #151515;
}

.menuelement a:hover {
    text-decoration: none;
}

.slide-enter-active, .slide-leave-active {
    transition: transform .3s;
}
.slide-enter, .slide-leave-to {
    transform: translateX(-100%);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}