@charset "utf-8";

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot?v=1.1.0");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Lato/Lato-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Lato/Lato-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Lato/Lato-Regular.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato/Lato-Black.eot?v=1.1.0");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff2?v=1.1.0") format("woff2"), url("../fonts/Lato/Lato-Black.woff?v=1.1.0") format("woff"), url("../fonts/Lato/Lato-Black.ttf?v=1.1.0") format("truetype"), url("../fonts/Lato/Lato-Black.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #272525;
  color: #F0F0F0;
  font-size: 14px;
  margin-top: 95px;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  height: unset !important;
}


h1, h2, h3, h4, h5 {
  font-family: 'Lato-Black';
}